In [10]:
high_schools = ["Hernandez High", "Figueroa High", "Wilson High", "Wright High"]

for i in high_schools:
    print(i)

Hernandez High
Figueroa High
Wilson High
Wright High

In [11]:
high_school_types = [
    {"High School": "Griffin", "Type" : "District"},
    {"High School": "Figueroa", "Type" : "District"},
    {"High School": "Wilson", "Type" : "Charter"},
    {"High School": "Wright", "Type" : "Charter"},
]
itter = range(len(high_school_types))
#for i in high_school_types:
    #print (i)
    #print(i.get("High School"))
for i in itter:
    school = high_school_types[i]["High School"]
    types = high_school_types[i]["Type"]
    keys = high_school_types[i].keys()
    val = high_school_types[i].values()
    print(f'{school}\n{types}\n{keys}\n{val}')

Griffin
District
dict_keys(['High School', 'Type'])
dict_values(['Griffin', 'District'])
Figueroa
District
dict_keys(['High School', 'Type'])
dict_values(['Figueroa', 'District'])
Wilson
Charter
dict_keys(['High School', 'Type'])
dict_values(['Wilson', 'Charter'])
Wright
Charter
dict_keys(['High School', 'Type'])
dict_values(['Wright', 'Charter'])

In [12]:
high_schools = [
    "Huang High School",
    "Figueroa High School",
    "Shelton High School",
    "Hernandez High School",
    "Griffin High School",
    "Wilson High School",
    "Cabrera High School",
    "Bailey High School",
    "Holden High School",
    "Pena High School",
    "Wright High School",
    "Rodriguez High School",
    "Johnson High School",
    "Ford High School",
    "Thomas High School"
    ]

In [13]:
import pandas as pd

In [14]:
school_series = pd.Series(high_schools)
high_school_series = pd.Series(high_school_types)

In [15]:
for i in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [9]:


for i in range(len(school_series)):
    print(school_series[i])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School